<div class="container-fluid">
    <div class="row mb-30">
        <div class="col-sm">
            <mat-card>
                <mat-card-header>
                    <a [routerLink]="['/home', 'invoices']" mat-card-title>Фактури</a>
                    <mat-card-subtitle>
                        <ng-container *ngIf="invoices.length > 0; else no_invoices">Имате {{ invoices_unsent }} неизпратени фактури</ng-container>
                        <ng-template #no_invoices>
                            <ng-container>Нямате неизпратени фактури</ng-container>
                        </ng-template>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <a
                        [routerLink]="['/home', 'invoices', 'new']"
                        mat-raised-button
                        color="primary"
                    >
                        <span class="fa fa-plus"></span> Добави нова
                    </a>
                    <a [routerLink]="['/home', 'invoices']" mat-stroked-button pull-right>
                        <span class="fa fa-list"></span> Списък
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card>
                <mat-card-header>
                    <a [routerLink]="['/home', 'recipients']" mat-card-title>Получатели</a>
                    <mat-card-subtitle>
                        {{ recepients.length }} човека са ви дали фактури
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <a [routerLink]="['/home', 'recipients']" mat-stroked-button pull-right>
                        <span class="fa fa-list"></span>
                        Списък
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card>
                <mat-card-header>
                    <a [routerLink]="['/home', 'providers']" mat-card-title>Фирми</a>
                    <mat-card-subtitle>
                        <ng-container *ngIf="providers.length > 0; else no_providers">Имате записани {{ providers.length }} фирми</ng-container>
                        <ng-template #no_providers>
                            <ng-container>Нямате записани фирми</ng-container>
                        </ng-template>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <a [routerLink]="['/home', 'providers']" mat-stroked-button pull-right>
                        <span class="fa fa-list"></span> Списък
                    </a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row mb-30">
        <div class="col-sm">
            <mat-card>
                <mat-card-header>
                    <a [routerLink]="['/home', 'income']" mat-card-title>Приходи</a>
                    <mat-card-subtitle>Приходи от наеми</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions></mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card>
                <mat-card-header>
                    <a [routerLink]="['/home', 'payments']" mat-card-title>Отчисления</a>
                    <mat-card-subtitle>Изплатено ДДС на получатели на фактури</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions></mat-card-actions>
            </mat-card>
        </div>
        <div class="col-sm">
            <mat-card>
                <mat-card-header>
                    <a [routerLink]="['/home', 'taxes']" mat-card-title>Данъци</a>
                    <mat-card-subtitle>Изплатени данъци и ДДС</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions></mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
