#window-titlebar,
#window-titlebar * {
    box-sizing: border-box;
}

#window-titlebar {
    display: flex;
    align-content: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2147483647;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
    background-color: #fff;
    color: #333;
    font-size: 10px;
    font-family: inherit;
}

#window-titlebar.dark {
    background-color: #333;
    color: #fff;
}

#window-titlebar > .left-items {
    order: 1;
    display: flex;
    -webkit-app-region: no-drag;
    font-size: 16px;
}

#window-titlebar > .left-items img {
    max-height: 12px !important;
}

#window-titlebar > .left-items .window_title {
    -webkit-app-region: drag;
    padding: 6px;
}

#window-titlebar > .center-drag {
    order: 2;
    flex: 2 0px;
    -webkit-app-region: drag;
    padding-left: 5px;
}

#window-titlebar > .right-items {
    order: 3;
    display: flex;
    -webkit-app-region: no-drag;
    font-size: 16px;
}

#window-titlebar > .right-items > * {
    order: 1;
}

#window-titlebar .button {
    width: 45px;
    height: 32px;
    border: none;
    padding: 6px;
    background-color: transparent;
    text-align: center;
    cursor: default;
    pointer-events: all;
}

#window-titlebar .button img {
    width: auto;
    max-height: 100%;
}

#window-titlebar .button:hover {
    background-color: rgba(196, 196, 196, 0.4);
}

#window-titlebar .button:active {
    background-color: rgba(168, 168, 168, 0.5);
}

#window-titlebar .button.close:hover {
    background-color: #e81123;
    color: #fff;
}
#window-titlebar .button.close:hover img {
    -webkit-filter: invert(100%);
}
#window-titlebar .button.close:active {
    background-color: rgba(232, 17, 35, 0.6);
}
