<div id="window-titlebar">
    <div class="left-items">
        <div class="button menu" (click)="onToggleMenu()">
            <span class="fa fa-bars"></span>
        </div>
        <div class="button go_back" (click)="onGoBack()">
            <img src="assets/arrow-go-back.svg" alt="">
        </div>
        <div class="window_title">This is a custom titlebar</div>
    </div>
    <div class="center-drag"></div>
    <div class="right-items">
        <div class="button minimize" (click)="onMinimizeApp()">
            <img src="assets/caption-buttons.svg#minimize" alt="">
        </div>
        <div class="button maximize" (click)="onMaximizeApp()">
            <img src="assets/caption-buttons.svg#{{ maximized? 'restore' : 'maximize'}}" alt="">
        </div>
        <div class="button close" (click)="onCloseApp()">
            <img src="assets/caption-buttons.svg#close" alt="">
        </div>
    </div>
</div>
