<app-titlebar>
    <ng-template #titlebar_buttons>
        <div class="button menu" (click)="onToggleMenu()">
            <mat-icon>menu</mat-icon>
        </div>
        <div class="button go_back" (click)="onGoBack()" *ngIf="show_back">
            <img src="assets/arrow-go-back.svg" alt="">
        </div>
    </ng-template>
    <ng-template #titlebar_title>Фактури v2.0</ng-template>
</app-titlebar>

<mat-drawer-container
    autosize
    class="all-container"
>
    <mat-drawer
        #sidebar
        mode="over"
    >
        <div class="drawer-container" fxLayout="column">
            <header fxFlex="1 1 auto">
                <mat-list>
                    <a
                        mat-list-item
                        [routerLink]="['/home']"
                        routerLinkActive="active"
                        (click)="closeMenu()"
                    >
                        <mat-icon matListIcon>home</mat-icon>
                        <h3 matLine>Начало</h3>
                    </a>
                    <mat-divider></mat-divider>
                </mat-list>
            </header>
            <mat-list fxFlex="3" fxFlexFill>
                <a
                    mat-list-item
                    [routerLink]="['/home', 'invoices']"
                    routerLinkActive="active"
                    (click)="closeMenu()"
                >
                    <mat-icon matListIcon>receipt</mat-icon>
                    <h3 matLine>Фактури</h3>
                </a>
                <a
                    mat-list-item
                    [routerLink]="['/home', 'recipients']"
                    routerLinkActive="active"
                    (click)="closeMenu()"
                >
                    <mat-icon matListIcon>account_circle</mat-icon>
                    <h3 matLine>Получатели</h3>
                </a>
                <a
                    mat-list-item
                    [routerLink]="['/home', 'providers']"
                    routerLinkActive="active"
                    (click)="closeMenu()"
                >
                    <mat-icon matListIcon>account_box</mat-icon>
                    <h3 matLine>Фирми</h3>
                </a>
            </mat-list>
            <footer fxFlex="1 1 auto">
                <mat-list>
                    <mat-divider></mat-divider>
                    <a
                        mat-list-item
                        [routerLink]="['/home', 'settings']"
                        routerLinkActive="active"
                        (click)="closeMenu()"
                    >
                        <mat-icon matListIcon>settings</mat-icon>
                        <h3 matLine>Настройки</h3>
                    </a>
                </mat-list>
            </footer>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
