<app-titlebar
    (goBack)="onGoBack()"
    (toggleMenu)="onToggleMenu()"
></app-titlebar>

<mat-drawer-container
    autosize
    class="all-container"
>
    <mat-drawer
        #sidebar
        mode="over"
    >
        <mat-list>
            <mat-list-item>
                <mat-icon matListIcon>home</mat-icon>
                <h3 matLine>Home</h3>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon matListIcon>folder</mat-icon>
                <h3 matLine>Invoices</h3>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
