.all-container {
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    height: calc(100% - 33px);
}

.mat-drawer {
    min-width: 250px;

    .mat-list {
        .mat-list-item:active,
        .mat-list-item:focus {
            outline: none;
        }
    }
}

.mat-drawer-content {
    padding: 10px;
}
