:host {
    display: flex;
}
nav {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    font-size: 12px;

    .logo {
        padding: 6px 8px;
        flex: 0 0 auto;

        img {
            display: block;
            height: 100%;
            max-height: 18px;
            width: auto;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &>ul {
        display: flex;
        align-items: stretch;
        flex: 1 1 auto;

        &>li {
            position: relative;
            display: flex;
            align-items: center;
            transition: all .3s ease-in-out;

            &:hover,
            &.open {
                background-color: var(--color-light-grey);
                color: var(--color-black);
            }

            &>span {
                padding: 4px 12px;
            }

            ul {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 9999999;
                width: 250px;
                padding: calc(var(--padding) / 2) 0;
                background-color: var(--color-deep-grey);
                color: #fff;
                border: 1px solid var(--color-grey);
                border-top: none;

                li:not(.divider) {
                    padding: calc(var(--padding) / 2) var(--padding);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--color-light-grey);
                        color: var(--color-black);
                    }

                    .item-icon {
                        width: 32px;
                        margin-right: 5px;
                        padding: 4px;
                    }
                }

                li.divider {
                    padding: calc(var(--padding) / 2) 0;
                }
            }

            &.open {
                ul {
                    display: block;
                }
            }
        }
    }
}
