<div id="DesktopContainer">
    <div role="titlebar">
        <inv-titlebar></inv-titlebar>
    </div>
    <div role="tools" *ngIf="loaded">
        <div class="tools-start">
            <ng-container *ngFor="let module of loadedModules; let idx = index">
                <ng-container *ngIf="module.sidebar_position !== 'bottom' && module.icon">
                    <div
                        class="icon-container"
                        [class.active]="module.active"
                        title="{{ module.title|translate:module.title }}"
                        (click)="activateSidebarModule(idx)"
                    >
                        <span [class]="module.icon"></span>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="tools-end">
            <!-- <div class="icon-container" title="{{ 'Settings'|translate:'settings' }}" (click)="openSettings()">
                <span class="mdl2-Settings"></span>
            </div> -->
            <ng-container *ngFor="let module of loadedModules; let idx = index">
                <ng-container *ngIf="module.sidebar_position === 'bottom' && module.icon">
                    <div
                        class="icon-container"
                        [class.active]="module.active"
                        title="{{ module.title|translate:module.title }}"
                        (click)="activateSidebarModule(idx)"
                    >
                        <span [class]="module.icon"></span>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
    <div role="sidebar">
        <ng-container #sidebarContent></ng-container>
    </div>
    <div role="tabs">
        <lib-tabs [tabs]="openedDocuments" (tabClose)="closeTab($event)" (tabActivate)="activateTab($event)"></lib-tabs>
    </div>
    <div role="main">
        <ng-container #mainContent></ng-container>
    </div>
    <div
        role="footer"
        [class.info]="notification?.type === 'info'"
        [class.success]="notification?.type === 'success'"
        [class.warning]="notification?.type === 'warning'"
        [class.danger]="notification?.type === 'danger'"
    >{{ notification?.message }}</div>
</div>
