:root {
    --c-main-lightest: rgba(244, 239, 237, 1);
    --c-main-lighter: rgba(210, 213, 221, 1);
    --c-main: rgba(184, 186, 207, 1);
    --c-main-darker: rgba(153, 154, 198, 1);
    --c-main-darkest: rgba(121, 128, 113, 1);
    --c-white: #fff;
    --c-black: rgba(51, 51, 51, 1);
    --c-grey: rgba(136, 136, 136, 1);

    --c-primary-light-lighter: #efe9f4;
    --c-primary-light: #bab8cd;
    --c-primary-light-darker: #5b616a;

    --c-primary-dark-lighter: #36373a;
    --c-primary-dark: #222427;
    --c-primary-dark-darker: #191b1d;

    --c-accent-primary: #4d37b1;
    --c-accent-secondary: #e61c37;
    --c-accent-third: #3faf13;
    --c-accent-fourth: #ffa90c;
    --c-accent-fifth: #4744e7;

    --font-size: 9pt;
    --spacing: 6px;
    --animation-speed: 0.15s;

    body,
    body.theme-dark {
        --text-color: var(--c-primary-light-lighter);
        --text-color-inv: var(--c-primary-dark-darker);

        --bg-color: var(--c-primary-dark);
        --bg-color-backgrounded: var(--c-primary-dark-darker);
        --bg-color-accented: var(--c-primary-dark-lighter);

        --bg-color-inv: var(--c-primary-light);
        --bg-color-inv-backgrounded: var(--c-primary-light-darker);
        --bg-color-inv-accented: var(--c-primary-light-lighter);
        // --c-main-lightest: rgba(114, 141, 165, 1);
        // --c-main-lighter: rgba(74, 107, 138, 1);
        // --c-main: rgba(42, 78, 110, 1); // Main Primary color */
        // --c-main-darker: rgba(19, 52, 83, 1);
        // --c-main-darkest: rgba(4, 31, 55, 1);
    }

    body.theme-light {
        --text-color: var(--c-primary-dark-darker);
        --text-color-inv: var(--c-primary-light-lighter);

        --bg-color: var(--c-primary-light);
        --bg-color-backgrounded: var(--c-primary-light-darker);
        --bg-color-accented: var(--c-primary-light-lighter);

        --bg-color-inv: var(--c-primary-dark);
        --bg-color-inv-backgrounded: var(--c-primary-dark-darker);
        --bg-color-inv-accented: var(--c-primary-dark-lighter);
    }
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    transition: all var(--animation-speed) ease-in-out;
    opacity: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
    transition: all var(--animation-speed) ease-in-out;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: all var(--animation-speed) ease-in-out;
    opacity: 0;
}

*:hover {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        opacity: 1;
    }

    &::-webkit-scrollbar {
        height: var(--spacing);
        width: var(--spacing);
        background-color: var(--bg-color-accented);
        opacity: 1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--bg-color-backgrounded);
        opacity: 1;
    }
}

body {
    background-color: var(--bg-color);

    * {
        color: var(--text-color);
    }
}

fieldset {
    padding: calc(var(--spacing) * 2);
}

.form-group {
    margin-bottom: calc(var(--spacing) * 3);

    label {
        display: block;
        font-weight: 900;
        margin-bottom: calc(var(--spacing) * 3);

        input {
            vertical-align: middle;
        }
    }
}

select {
    option {
        color: var(--c-primary-dark-darker);
    }
}

.form-control {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--c-main);
    border-radius: 1px;
    padding: var(--spacing) 0;
    background-color: transparent;
    background-image: none;
    color: inherit;
    transition: border-color var(--animation-speed) ease-in-out,
        background-color var(--animation-speed) ease-in-out,
        box-shadow var(--animation-speed) ease-in-out;

    &:active,
    &:focus {
        outline: none;
        border-color: var(--c-accent-primary);
    }

    &:disabled,
    &:read-only {
        border-bottom: none;
    }

    &.ng-invalid:not(.ng-pristine) {
        border-color: var(--c-accent-secondary);
    }

    &.form-control-inline {
        display: inline;
        width: auto;
    }
}

.form-control-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    border-bottom: 1px solid var(--c-main);

    .form-control-icon {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        padding: calc(var(--spacing) / 2) var(--spacing);
    }

    .form-control {
        flex: 1 1 auto;
        border-bottom: none;
    }
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-inline {
    display: inline !important;
}

.d-flex {
    display: flex !important;
}


.cur-pointer {
    cursor: pointer;
}

.cur-default {
    cursor: default;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-primary {
    color: var(--c-accent-primary);
}

.text-secondary {
    color: var(--c-accent-secondary);
}

.text-third {
    color: var(--c-accent-third);
}

.text-fourth {
    color: var(--c-accent-fourth);
}

.text-fifth {
    color: var(--c-accent-fifth);
}

.btn {
    display: inline-flex;
    align-items: center;
    margin: 0 0.2rem;
    padding: var(--spacing) calc(var(--spacing) * 2);
    overflow: hidden;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:active:not(:disabled),
    &:focus:not(:disabled) {
        outline: none;
        color: var(--text-color);
        background-color: transparent;
        text-shadow: 0 0 3px var(--text-color);
    }

    &:hover:not(:disabled) {
        background-color: var(--c-accent-primary);
        color: var(--text-color);
    }

    &.btn-sm {
        font-size: 0.768rem;
    }

    &.btn-lg {
        font-size: 1.2rem;
    }

    &.btn-icon {
        .ti,
        [class*="mdl2"] {
            margin-right: calc(var(--spacing));
        }
    }

    &.btn-danger {
        background-color: var(--c-accent-secondary);
    }
}

.msg {
    padding: var(--spacing) calc(var(--spacing) * 2);

    &.msg-success {
        color: var(--c-accent-third);
    }

    &.msg-warning {
        color: var(--c-accent-fourth);
    }

    &.msg-danger {
        color: var(--c-accent-secondary);
    }
}

[contenteditable] {
    max-height: 250px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead,
    tfoot {
        th,
        td {
            border: 1px solid var(--c-main);
            padding: var(--spacing);
            background-color: var(--bg-color-accented);
            color: var(--text-color);
        }

        th {
            text-align: center;
        }

        td {
            text-align: left;
        }
    }

    tbody {
        tr.selected {
            &.bg-primary td {
                background-color: var(--c-accent-primary);
            }
            &.bg-secondary td {
                background-color: var(--c-accent-secondary);
            }
            &.bg-third td {
                background-color: var(--c-accent-third);
            }
            &.bg-fourth td {
                background-color: var(--c-accent-fourth);
            }
            &.bg-fifth td {
                background-color: var(--c-accent-fifth);
            }
        }
        td {
            border: 1px solid var(--c-main);
            padding: var(--spacing);
        }
    }
}
