<section role="container">
    <section role="navigation">
        <inv-main-menu [menu]="mainMenu" (menuItemClicked)="menuItemClicked($event)"></inv-main-menu>
        <div class="draggable">Draggable area</div>
        <div class="window-controls">
            <div class="button button-minimize" (click)="minimizeWindow()">
                <span>&#xE921;</span>
            </div>
            <div class="button button-maximize" *ngIf="!window_maximized" (click)="maximizeWindow()">
                <span>&#xE922;</span>
            </div>
            <div class="button button-restore" *ngIf="window_maximized" (click)="restoreWindow()">
                <span>&#xE923;</span>
            </div>
            <div class="button button-close" (click)="closeWindow()">
                <span>&#xE8BB;</span>
            </div>
        </div>
    </section>
    <section role="shortcuts">
        <div class="icon-list-container top">
            <ng-container *ngFor="let mod of loaded_extensions|keys">
                <button
                    type="button"
                    class="icon-container"
                    [class.current]="loaded_extensions[mod].title === active_sidebar_extension.title"
                    title="{{ loaded_extensions[mod].title }}"
                    *ngIf="loaded_extensions[mod].position === 'top'"
                    (click)="renderSidebarComponent(loaded_extensions[mod])"
                >
                    <i class="fas fa-{{ loaded_extensions[mod].icon }}"></i>
                </button>
            </ng-container>
            <div class="bottom-icons push-bottom">
            </div>
        </div>
        <div class="icon-list-container bottom">
            <ng-container *ngFor="let mod of loaded_extensions|keys">
                <button
                    type="button"
                    class="icon-container"
                    title="{{ loaded_extensions[mod].title }}"
                    *ngIf="loaded_extensions[mod].position === 'bottom'"
                    (click)="renderSidebarComponent(loaded_extensions[mod])"
                >
                    <i class="fas fa-{{ loaded_extensions[mod].icon }}"></i>
                </button>
            </ng-container>
            <button
                type="button"
                class="icon-container"
                title="Settings"
            >
                <i class="fas fa-cogs"></i>
            </button>
        </div>
    </section>
    <section role="sidebar">
        <div class="active-extension-title">{{ active_sidebar_extension?.title }}</div>
        <ng-template #sidebarRef></ng-template>
    </section>
    <section role="tabs">
        <ul class="tabs-container">
            <li class="tab" title="Invoice 0000004523 from Provider ltd. for 324 BGN" (click)="activateTab(0)" [class.active]="active_tab_idx === 0">
                Invoice 0000004523
                <span class="fas fa-times"></span>
            </li>
            <li class="tab" (click)="activateTab(1)" [class.active]="active_tab_idx === 1">
                Invoice 4000006421
                <span class="fas fa-circle"></span>
                <span class="fas fa-times"></span>
            </li>
            <li class="tab" (click)="activateTab(2)" [class.active]="active_tab_idx === 2">
                Invoice 1000004304
                <span class="fas fa-times"></span>
            </li>
        </ul>
    </section>
    <section role="main-content" [class.active-tab]="active_tab_idx > -1">
        <ng-template #tabsContentRef></ng-template>
    </section>
    <section role="footer"></section>
</section>
