:host {
    section[role=container] {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 48px 300px 1fr;
        grid-template-rows: 32px 37px 1fr 24px;
        grid-template-areas:
            "navigation navigation navigation"
            "shortcuts sidebar tabs"
            "shortcuts sidebar main-content"
            "footer footer footer";

        section[role=navigation] {
            grid-area: navigation;
            display: flex;
            // border-top: 1px solid var(--color-grey);
            // border-bottom: 1px solid var(--color-grey);
            background-color: var(--color-deep-grey);
            color: #fff;

            * {
                flex: 0 0 auto;
            }

            .draggable {
                flex: 1 1 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;

                -webkit-app-region: drag;
            }

            .window-controls {
                display: grid;
                grid-template-columns: repeat(3, 46px);
                font-family: "Segoe MDL2 Assets";
                font-size: 10px;

                .button {
                    grid-row: 1 / span 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    cursor: default;

                    &:not(.button-close):hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    &:not(.button-close):active {
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    &.button-close {
                        &:hover {
                            background-color: #E81123;
                        }

                        &:active {
                            background-color: #f1707a;
                            color: #000;
                        }
                    }
                }
            }
        }

        section[role=shortcuts] {
            grid-area: shortcuts;
            border-right: 1px solid var(--color-grey);
            display: flex;
            flex-direction: column;

            .icon-list-container {
                &.top {
                    flex: 1 1 auto;

                    .icon-container {
                        border-bottom: 1px solid var(--color-light-grey);
                    }
                }

                &.bottom {
                    flex: 0 0 auto;

                    .icon-container {
                        border-top: 1px solid var(--color-light-grey);
                    }
                }
            }

            .icon-container {
                display: block;
                width: 100%;
                padding: calc(var(--padding) / 2);
                padding-left: calc(var(--padding) / 2 - 3px);
                border: none;
                border-left: 3px solid transparent;
                background: #f1f1f1;
                color: var(--color-black);
                font-size: 20px;
                line-height: 1em;
                transition: all var(--transition);

                &.current {
                    border-left: 3px solid var(--color-dark-grey);
                }

                &:hover {
                    background-color: var(--color-dark-grey);
                    color: #fff;
                }
            }
        }

        section[role=sidebar] {
            grid-area: sidebar;
            border-right: 1px solid var(--color-grey);
            overflow-y: auto;
            display: flex;
            flex-direction: column;

            .active-extension-title {
                flex: 0 0 auto;
                text-transform: uppercase;
                padding: calc(var(--padding)/2);
                border-bottom: 1px solid var(--color-grey);
                background-color: var(--color-light-grey);
            }
        }

        section[role=tabs] {
            grid-area: tabs;
            border-bottom: 1px solid var(--color-grey);
            padding-top: 5px;
            padding-left: 5px;
        }

        section[role=main-content] {
            grid-area: main-content;
            overflow-y: auto;
            padding: var(--padding);

            &.active-tab {
                background-color: #fff;
            }
        }

        section[role=footer] {
            grid-area: footer;
            border-top: 1px solid var(--color-grey);
        }
    }

    .ant-tree {
        overflow: hidden;
        margin: 0 -24px;
        padding: 0 24px;
    }

    .ant-tree li {
        padding: 4px 0 0 0;
    }

    .custom-node {
        cursor: pointer;
        line-height: 24px;
        margin-left: 4px;
        display: inline-block;
        margin: 0 -1000px;
        padding: 0 1000px;
    }

    // .active {
    //     background: #1890ff;
    //     color: #fff;
    // }

    .file-name,
    .folder-name {
        margin-left: 4px;
    }

    .file-desc,
    .folder-desc {
        padding: 0 8px;
        display: inline-block;
        background: #87ceff;
        color: #ffffff;
        position: relative;
        left: 12px;
    }
}
