<div class="toolbar">
    <i class="fas fa-filter"></i>
    <i class="fas fa-exchange-alt" (click)="changeSorting('issue_date')" title="Sort by issue date"></i>
    <i class="fas fa-share-square" (click)="changeSorting('sent_date')" title="Sort by send to accountant"></i>
</div>
<ul class="tree-list">
    <li class="tree-list-item" *ngFor="let year of (invoicesSorted|keys|sort:'desc'); let first_year = first; let idx_year = index" [class.expanded]="idx_year === expanded_year_idx || expanded_year_idx === -1 && first_year">
        <div class="tree-list-item-heading year-heading">{{ year }}</div>
        <ul class="tree-list-item-detail" *ngIf="(invoicesSorted[year]|keys).length">
            <li class="tree-list-item expanded" *ngFor="let month of (invoicesSorted[year]|keys|sort:'desc'); let first_month = first; let idx_month = index" [class.expanded]="idx_month === expanded_month_idx || expanded_month_idx === -1 && first_month">
                <div class="tree-list-item-heading month-heading">
                    <div class="item-title">{{ getMonthName(+month) }}</div>
                    <div class="item-side" title="Count of invoices for this month: {{ (invoicesSorted[year][month]|keys).length }}">{{ (invoicesSorted[year][month]|keys).length }}</div>
                </div>
                <ul class="tree-list-item-detail" *ngIf="(invoicesSorted[year][month]|keys).length">
                    <li class="tree-list-item hover-highlight" *ngFor="let position of invoicesSorted[year][month]|keys; let first_inv = first; let idx_inv = index">
                        <div class="tree-list-item-heading invoice-heading" title="Invoice from: Some Issuer ltd.&#013;Issued on: 02.11.2019&#013;Detail: I bought a new laptop - Asus Scar ||| with RTX 2070">
                            <div class="item-title">{{ invoicesSorted[year][month][position].notes }}</div>
                            <div class="item-side">{{ invoicesSorted[year][month][position].total_sum|currency }}</div>
                        </div>
                        <div class="tree-list-item-detail invoice-detail">
                            <ul>
                                <li>Number: {{ invoicesSorted[year][month][position].number }}</li>
                                <li>Issue date: {{ invoicesSorted[year][month][position].issue_date|date:'yyyy-MM-dd' }}</li>
                                <li>Send to accountant on: {{ invoicesSorted[year][month][position].sent_date|date:'yyyy-MM-dd' }}</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<!-- <div class="tree-list">
    <ul>
        <li *ngFor="let year of (invoicesSorted|keys|sort:'desc'); let first_year = first; let idx_year = index" [class.expanded]="idx_year === expanded_year_idx || expanded_year_idx === -1 && first_year">
            <div class="year-heading" (click)="expandYear(idx_year)">{{ year }}</div>
            <ul *ngIf="(invoicesSorted[year]|keys).length">
                <li *ngFor="let month of (invoicesSorted[year]|keys|sort:'desc'); let first_month = first; let idx_month = index" >
                    <div class="month-heading">
                        <div class="month-title">{{ getMonthName(+month) }}</div>
                        <div class="month-inv-count">{{ (invoicesSorted[year][month]|keys).length }}</div>
                    </div>
                    <ul *ngIf="(invoicesSorted[year][month]|keys).length">
                        <li *ngFor="let position of invoicesSorted[year][month]|keys; let first_inv = first; let idx_inv = index">
                            <div class="invoice-heading">
                                <div class="invoice-desc">{{ invoicesSorted[year][month][position].notes }}</div>
                                <div class="invoice-price">{{ invoicesSorted[year][month][position].total_sum|currency }}</div>
                            </div>
                            <ul>
                                <li>Number: {{ invoicesSorted[year][month][position].number }}</li>
                                <li>Issue date: {{ invoicesSorted[year][month][position].issue_date|date:'yyyy-MM-dd' }}</li>
                                <li>Send to accountant on: {{ invoicesSorted[year][month][position].sent_date|date:'yyyy-MM-dd' }}</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div> -->
